@import 'assets/scss/variables';

.button {
  font-size: 0.8em !important;
  text-transform: uppercase;
  letter-spacing: 0.05em !important;
  color: var(--color-text-cyan) !important;
  font-size: 1em;
  font-weight: 600;
}
