@import 'assets/scss/variables';

// Footer area - full width
.footer {
  // background: red; // var(--color-background-over);
  box-shadow: 0 0 10px 3px var(--color-background); // subtle top shadow

  .container {
    padding: 0;
  }

  @include mq($from: tablet) {
    padding: 0 0 3em;

    .container {
      padding: 0 2em;
    }
  }

  @include mq($from: desktop) {
    .container {
      padding: 0 4em;
    }
  }
}
