@import 'assets/scss/variables';

$command: #aaa;
$borderRadius: 0.25em;

.area {
  background: var(--color-background);
  box-shadow: 0 0 10px 3px var(--color-background);
  z-index: 2;
  margin-bottom: 1em;

  @include mq($from: tablet) {
    margin: 0;
    padding: 0 0 0.5em;
  }

  @include mq($from: desktop) {
    padding: 0 0 2em;
  }

  &.focused {
    @include mq($until: tablet) {
      margin: 0;
      padding: 0;

      .container {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.reply {
  font-size: 0.9em;
  margin: 0.25em 1em 0.75em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-left-width: 4px;
  background: var(--color-background-over);
  position: relative;

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

.textIcon {
  position: absolute;
  top: 0.75em;
  right: 0.8em;
  margin: auto;
  color: --color-text;
  opacity: 0.6;
  cursor: pointer;
  z-index: 3;

  @include mq($until: mobile) {
    right: 4em;
  }
}

.button {
  display: none;
  margin-top: 5px;
  margin-right: 6px;

  button {
    border-radius: 0.25em !important;
    border: 1px solid darken(green, 10%) !important;
  }

  @include mq($until: mobile) {
    display: block;
  }
}

.private,
.command {
  .textIcon {
    cursor: initial;
  }
}

.private {
  input,
  input:focus {
    border-color: $secondary;
    box-shadow: 0 0 0 0.2rem fade-out($secondary, 0.8);
  }

  .textIcon {
    color: $secondary;
  }
}

.command {
  color: $command;

  input,
  input:focus {
    color: inherit;
    border-color: $command;
    box-shadow: 0 0 0 0.2rem fade-out($command, 0.8);
  }

  .textIcon {
    color: inherit;
  }
}
