/**
 * Global variables file
 */
$primary: #13a9b6;

$secondary: #f75f00;
$secondary-dark: #c93838;

$lighter: #f6f9fc;
$light: #e9ecef;
$dark: #050405;
$accent: #43ab92;

$headingFont: 'Comfortaa', Helvetica, Arial, sans-serif;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$bgAngleHeight: 70%;