@import 'variables';
@import 'fonts';

@import '~bootstrap/scss/bootstrap';

@import 'forms';

html,
body {
  width: 100%;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

html,
body,
.full-height,
#root {
  height: 100%;
}
