@import "variables";
@import "fonts";

@import "~bootstrap/scss/bootstrap";
@import "social";
@import "tables";

html, body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: $lighter;
  min-height: 100vh;
}

html, body, #root, .full-height {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-brand, h1, h2 {
  font-family: $headingFont;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  letter-spacing: .025em;
}

h4 {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  margin: 0 0 5px;
}

#content {
  flex: 1;
}

.navbar.bg-light {
  background: fade-out(#fff, 0.9) !important;
}

.padded {
    padding: 1rem;
}

.navbar, .navbar-dark {
    .nav-link, .navbar-nav .nav-link {
        color: fade-out(#fff, 0.3);
        transition: transform ease-in 50ms;

        &:hover, &:active {
          color: #fff;
          transform: scale(1.05);
          outline: none;
        }
    }

    .navbar {
        padding: 0;
        margin-bottom: 2rem;
    }
}

.bg-fade {
  background: linear-gradient(87deg, $secondary, $secondary-dark) !important;
  color: fade-out(#fff, 0.1);
}

.modal-content {
  border: none;
  box-shadow: 0 .5rem 2rem rgba(0,0,0,.35) !important;
}

.modal-header {
  font-family: $headingFont;

  &.bg-fade button.close {
    color: #fff;
  }
}

.bg-angle {
  width: 100%;
  height: $bgAngleHeight;
  overflow: hidden;
  transform: skewY(-10deg);
  transform-origin: 0;
  background: linear-gradient(150deg, $secondary-dark 15%, $secondary 70%, $orange 94%);
  position: absolute;
  z-index: -1;
}

.blockquote {
  border-left: $accent 0.5em solid;
  background: fade-out(#fff, 0.6);
  padding: 1em;
}

pre.code {
  background: #efefef;
  display: block;
  padding: 0.25em 0.5em;
  font-size: 0.9rem;
  color: #555;
}

.hover-show {
  .hide {
    display: none;
  }

  &:hover .hide {
    display: block;
  }
}

.btn-link {
  padding: 0 !important;
}
