@import 'variables';
@import 'fonts';

@import '~bootstrap/scss/bootstrap';

@import 'forms';

html,
body {
  width: 100%;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

body {
  background: #fcfcfc;
  color: $lighter;

  @media (prefers-color-scheme: dark) {
    background: $lighter;
    color: $light;
  }
}

html,
body,
.full-height,
#root {
  height: 100%;
}
