@import 'variables';
@import 'fonts';

@import '~bootstrap/scss/bootstrap';

@import 'forms';

html,
body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: $lighter;
  color: $light;
  min-height: 100vh;
}

html,
body,
#root,
.full-height {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
