@import 'assets/scss/variables';

.all {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
}

.login {
  flex: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  form {
    margin: 0;

    @include mq($until: tablet) {
      width: 100%;
      margin: 0 auto 5vh;
    }
  }

  input {
    font-size: 1em !important;
  }

  button[type='submit'] {
    font-size: 0.75em !important;
    padding: 0.5em 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
  }

  .at {
    font-size: 1em !important;
    padding: 0 0.6rem 0.1em !important;
    background: var(--color-input);
    color: var(--color-text);
    border-right: 0;

    & + input {
      border-left: 0;
    }
  }

  @include mq($from: tablet) {
    // margin: 20vh auto 15vh;
  }

  @include mq($from: desktop) {
    // margin: 30vh auto 20vh;
  }
}

.title {
  font-size: 2.5em;
  font-size: calc(0.5em + 5vh);
  line-height: 1.2;
  font-weight: 500;
  margin: 1.2em 0 0.5em;

  @include mq($from: tablet) {
    font-size: 3.3em;
    font-size: calc(0.5em + 6vh);
  }
}

.subtitle {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 1em;

  button {
    color: inherit;
    font-size: inherit !important;
    color: var(--color-text-cyan);
    padding-left: 0;

    &:hover {
      color: inherit;
    }
  }

  @include mq($from: tablet) {
    min-height: 2.5em; // avoids jump when on desktop
  }
}

.singleLineForm {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
    font-size: 1.25em;
  }
}

.singleLineFormPiece {
  margin: 0;

  @include mq($from: tablet) {
    max-width: 12em;
  }

  & + & {
    margin-top: 1em !important;

    @include mq($from: tablet) {
      margin-top: 0 !important;
      margin-left: 1em !important;
    }
  }
}

// Bottom bit from here

.logo {
  width: 160px;
  max-width: 75%;
  max-height: 27px;
  height: auto;
  padding-left: 1em;
}

.description {
  padding: 1em;
  padding-bottom: 0;
  font-size: 0.9em;
  opacity: 0.6;
}

.ksp {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.12em;
  font-weight: 700;
  margin-top: 0.5em;
}

.copy {
  letter-spacing: 0.025em;
  line-height: 1.66;
  opacity: 0.8;
  font-size: 0.9em;

  @include mq($until: tablet) {
    display: none;
  }

  @include mq($from: desktop) {
    font-size: 1em;
    padding-right: 0.25em;
  }
}

.github {
  margin-top: 0.5em;

  @include mq($from: 1150px) {
    text-align: right;
  }
}
