@import 'assets/scss/variables';

.textIcon {
  display: inline-block;
  padding: 0.25em;
  margin: auto;
  color: --color-text;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}
