$color1: #ff5151;
$color2: #4dcbc3;

$size: 4em;
$maxDistance: 0.65;

$stop1: 0%;
$stop2: 25%;
$stop3: 50%;
$stop4: 75%;
$stop5: 100%;

.logo {
  filter: url('#goo');
  margin: 1em auto;
  position: relative;
  width: $size;
  height: $size;
}

.svgFilter {
  position: absolute;
  visibility: hidden;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  background: $color1;
  width: $size;
  height: $size;
  border-radius: 100%;

  animation-name: blob-first;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.86, 0.27, 0.25, 0.78);
  animation-fill-mode: forwards;

  &:nth-child(2) {
    animation-name: blob-second;
  }
}

@keyframes blob-first {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    background: $color2;
    transform: scale(1) translateX(-$maxDistance * $size);
  }
}

@keyframes blob-second {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    transform: scale(1) translateX($maxDistance * $size);
  }
}
