.onlineUsers {
  font-size: 1em;
  padding: 0.5em;
  margin: 0;
  text-align: left;
  background: var(--color-background-over);
  border-radius: 50px;

  svg {
    margin-right: 0.5em;
  }

  @media (max-width: 40em) {
    display: none;
  }

  @media all and (min-width: 60em) {
    box-shadow: 0 0 10px 3px var(--color-background);
  }
}

.count {
  display: inline-block;
  width: 2em;
  text-align: center;
  font-weight: 800;
}
