@import 'assets/scss/variables';

$command: #aaa;

.area {
  background: rgba(255, 255, 255, 0.01);
}

.reply {
  font-size: 0.9em;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: solid 1px rgba(255,255,255,0.1);
  border-left-width: 4px;
  background: rgba(255,255,255,0.05);
  position: relative;

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

.textBox {
  position: relative;
  margin-top: 1em;

  input {
    padding-right: 2.5em;
  }

  .textIcon {
    position: absolute;
    top: 0.4em;
    right: 0.8em;
    color: #999;
    cursor: pointer;
    z-index: 3;

    @media (pointer:coarse) {
      right: 3.2em;
    }
  }
}

.inputGroup {
  margin-bottom: 1em;

  .button {
    display: none;

    button {
      border-top-right-radius: 0.25em !important;
      border-bottom-right-radius: 0.25em !important;
    }

    @media (pointer:coarse) {
      display: block;
    }
  }
}

.private, .command {
  .textIcon {
    cursor: initial;
  }
}

.private {
  input, input:focus {
    border-color: $secondary;
    box-shadow: 0 0 0 0.2rem fade-out($secondary, 0.8);
  }

  .textIcon {
    color: $secondary;
  }
}

.command {
  color: $command;

  input, input:focus {
    color: inherit;
    border-color: $command;
    box-shadow: 0 0 0 0.2rem fade-out($command, 0.8);
  }

  .textIcon {
    color: inherit;
  }
}