@import 'assets/scss/variables';

$command: #aaa;

.textBox {
  position: relative;

  span {
    display: none;
    position: absolute;
    top: 0.4em;
    right: 1.8em;
    color: $secondary;
  }
}

.private, .command {
  span {
    display: block;
  }
}

.private {
  input, input:focus {
    border-color: $secondary;
    box-shadow: 0 0 0 0.2rem fade-out($secondary, 0.8);
  }
}

.command {
  color: $command;

  input, input:focus {
    color: inherit;
    border-color: $command;
    box-shadow: 0 0 0 0.2rem fade-out($command, 0.8);
  }

  span {
    color: inherit;
  }
}