@import 'assets/scss/variables';

$command: #aaa;

.area {
  background: rgba(255, 255, 255, 0.01);
}

.textBox {
  position: relative;
  margin-top: 1em;

  .textIcon {
    position: absolute;
    top: 0.4em;
    right: 1.8em;
    color: #999;
    cursor: pointer;
  }
}

.private, .command {
  .textIcon {
    cursor: initial;
  }
}

.private {
  input, input:focus {
    border-color: $secondary;
    box-shadow: 0 0 0 0.2rem fade-out($secondary, 0.8);
  }

  .textIcon {
    color: $secondary;
  }
}

.command {
  color: $command;

  input, input:focus {
    color: inherit;
    border-color: $command;
    box-shadow: 0 0 0 0.2rem fade-out($command, 0.8);
  }

  .textIcon {
    color: inherit;
  }
}