@import 'assets/scss/variables';

$textbox-height-mobile: 65px;
$textbox-height-desktop: 120px;

.messages {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4em 0 1em;
}

.unseen {
  position: fixed;
  right: 0;
  bottom: $textbox-height-mobile;
  z-index: 1;
  width: 100%;
  height: 0px;

  @include mq($from: tablet) {
    bottom: $textbox-height-desktop;
  }

  .unseenContainer {
    position: relative;
  }

  button {
    position: absolute;
    bottom: 0;
    right: 1em;
  }
}
