@import 'assets/scss/variables';

$textbox-height-mobile: 80px;
$textbox-height-desktop: 120px;

.messages {
  position: relative;
  height: 100%;
  overflow: hidden;

  @media (max-width: 60em) {
    padding-top: 40px;
  }
}

.messageScroll {
  padding: 4em 0 1em;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.unseen {
  position: absolute;
  bottom: $textbox-height-mobile;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 0px;

  @include mq($from: desktop) {
    bottom: $textbox-height-desktop;
  }

  .unseenContainer {
    position: relative;
  }

  button {
    position: absolute;
    bottom: 0;
    right: 1em;
  }
}
