@import 'assets/scss/variables';

.reply {
  position: relative;
  margin: 0.25em 1em 0.75em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-left-width: 4px;
  background: var(--color-background-over);
  font-size: 0.9em;

  .actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
