@import 'assets/scss/variables';

// $background: rgb(50, 57, 65);
$border: #3b4252;
$text: #b5bcc4;
$text-inverse: #293134;
$radius: 0.45em;
$padding: 1em;

// Message box
.message {
  position: relative;
  white-space: pre-line;

  margin: 0 -$padding;
  padding: $padding/2 $padding $padding/2;
  transition: background ease-in-out 100ms;
  border-radius: 0.5em;

  &:hover {
    background: var(--color-background-over-transparent);

    .reply {
      background: transparent;
    }
  }

  @include mq($from: tablet) {
    margin: $padding/4 $padding * 1.5;
  }

  .replyButton {
    position: absolute;
    top: -0.25em;
    right: 0;
    display: none;
    z-index: 3;
  }

  &:hover {
    .replyButton {
      display: block;
    }
  }

  .mention {
    font-weight: 500;
    color: #999999;
  }
}

.system {
  border: solid 1px var(--color-border);
  font-size: 0.9em;
  color: fade-out($text, 0.2);
  padding: $padding;

  .user,
  .timestamp {
    display: none;
  }

  @include mq($from: tablet) {
    border-radius: 0.5em;
  }
}

.offline {
  color: #aaa !important;
  opacity: 0.7;

  .icon,
  .user,
  .user span {
    color: inherit !important;
  }
}

.inactive {
  opacity: 0.7;
}

// Message header
.icon {
  font-size: 1em;
  position: relative;

  svg {
    position: absolute;
    top: 0.35em;
    left: -0.5em;

    @include mq($from: mobile) {
      left: -1.5 * $padding;
    }
  }
}

// User tag
.user {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 0.1em;
  margin-left: 1em;

  &:after {
    opacity: 0.7;
    font-size: 0.8em;
    font-weight: 100;
  }

  @include mq($from: mobile) {
    margin-left: 0;
    margin-right: 0.3em;
  }
}

.timestamp {
  font-weight: 500;
  font-size: 0.7em;
  opacity: 0.6;
  color: var(--color-text);
  letter-spacing: 0.02em;
  margin-left: 1em;

  @media all and (max-width: 30em) {
    display: none;
  }
}

// Message body
.body {
  line-height: 1.45;
  letter-spacing: 0.01em;
  clear: both;

  @include mq($from: mobile) {
    line-height: 1.66;
    letter-spacing: 0.022em;
  }
}

.draft {
  &:hover {
    background: transparent;
  }

  .header {
    &:before {
      border: 2px solid currentColor;
      background: none;
    }
  }

  & > .user {
    &:after {
      opacity: 0.7;
      font-size: 0.8em;
      font-weight: 100;
      content: ' is thinking...';
    }
  }

  .body {
    opacity: 0.5;
  }
}

.private {
  color: $secondary !important;

  .body {
    color: $secondary;
  }
}

.replyBox {
  font-size: 0.9em;
  margin: 0.5em;
  padding: 0.15em 0.75em;
  border-radius: 0.2em;
  border-left-color: #ccc;
  border-left-style: solid;
  border-left-width: 4px;
  transition: background ease-in-out 50ms;
  display: block;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: inherit;
    background: rgba(255, 255, 255, 0.05);
    text-decoration: none;
  }
}

.reply {
  margin: 0;
  padding: 0;
  opacity: 0.5;
  max-height: 6rem;
  overflow: auto;
  border-radius: 0;

  &:hover {
    opacity: 0.7;
  }

  .user {
    margin-left: 0;
  }

  .icon,
  .timestamp {
    display: none;
  }
}
