@import 'assets/scss/variables';

// Message box
.message {
  position: relative;

  padding: 0.25em 1em;
  transition: background ease-in-out 100ms;

  &:hover {
    background: var(--color-background-over-transparent);

    .reply {
      background: transparent;
    }
  }

  @include mq($from: tablet) {
    padding: 0.4em 3em 0.25em 5em;
  }

  @include mq($from: desktop) {
    border-radius: 0.5em;
    padding: 0.4em 1em 0.25em 1.2em;
    margin: 0 0 0 1.5em;
  }
}

// Allows for things like icon and actions to be positioned around content, not container padding
.frame {
  position: relative;
}

.actions {
  float: right;
  display: none;

  @include mq($from: desktop) {
    position: absolute;
    top: 0;
    right: -0.5em;
    z-index: 2;
  }

  @media (pointer: coarse) {
    display: block;
    position: static !important;
  }

  .message:hover & {
    display: block;
  }
}

.system {
  opacity: 0.7;
  border: solid 1px var(--color-border);
  // padding: $padding;
}

.offline {
  color: #aaa !important;
  opacity: 0.7;

  .icon,
  .user,
  .user span {
    color: inherit !important;
  }
}

.inactive {
  opacity: 0.7;
}

.draft {
  .body {
    opacity: 0.5;
  }

  &:hover {
    background: transparent;
  }

  .header {
    &:before {
      border: 2px solid currentColor;
      background: none;
    }
  }

  & > .user {
    &:after {
      //opacity: 0.7;
      font-size: 0.8em;
      font-weight: 100;
      content: ' is thinking...';
    }
  }
}

.private {
  background: var(--color-pure-alt);
}

.reply {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 0.8em;
  line-height: 1.33;
}
