@import 'assets/scss/variables';

$padding: 1em;

// Message box
.message {
  position: relative;

  padding: 0.25em $padding;
  transition: background ease-in-out 100ms;

  // Debbug
  // border: 1px solid red;

  &:hover {
    background: var(--color-background-over-transparent);

    .reply {
      background: transparent;
    }
  }

  @include mq($from: tablet) {
    padding: $padding $padding * 3;
  }

  @include mq($from: desktop) {
    border-radius: 0.5em;
    margin: 0 $padding * 1.5 0 $padding * 2.5;
    padding: $padding * 2/3 $padding * 2 $padding/4 $padding * 2.5;
  }
}

.actions {
  position: absolute;
  top: 0rem;
  right: 0;
  z-index: 2;
  display: none;

  // border: 1px solid currentColor;

  @media (pointer: coarse) {
    display: block;
  }

  .message:hover & {
    display: block;
  }
}

.system {
  opacity: 0.7;
  border: solid 1px var(--color-border);
  // padding: $padding;
}

.offline {
  color: #aaa !important;
  opacity: 0.7;

  .icon,
  .user,
  .user span {
    color: inherit !important;
  }
}

.inactive {
  opacity: 0.7;
}

.draft {
  .messageContent {
    opacity: 0.5;
  }

  &:hover {
    background: transparent;
  }

  .header {
    &:before {
      border: 2px solid currentColor;
      background: none;
    }
  }

  & > .user {
    &:after {
      //opacity: 0.7;
      font-size: 0.8em;
      font-weight: 100;
      content: ' is thinking...';
    }
  }
}

.private {
  background: var(--color-pure-alt);
}

.reply {
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 0.8em;
  line-height: 1.33;
}
