@import 'assets/scss/variables';

.navbar.main {
  a, .nav-item {
    color: fade-out(#fff, 0.2);

    &.active {
      color: #fff;
    }
  }

  .nils-logo {
    width: 2em;
    margin-right: 0.5em;
    position: relative;
    bottom: 0.15em;
  }
}