@import 'assets/scss/variables';

.messageContent {
  margin-bottom: 0.6em;
  font-size: 0.9em;
  line-height: 1.45;
  letter-spacing: 0;
  clear: both;
  color: var(--color-text);

  @include mq($from: tablet) {
    font-size: 1em;
    line-height: 1.66;
    letter-spacing: 0.03em;
  }

  @include mq($from: desktop) {
    font-size: 1.05em;
  }
}
