@import 'assets/scss/variables';

.messageContent {
  // Spacing between each message
  margin: 0 0 0.33rem 0;

  // Text
  color: var(--color-text);
  white-space: pre-line;
  line-height: 1.45;
  letter-spacing: 0;
  font-size: 0.96em;
  font-weight: 500;

  .mention {
    font-weight: 500;
    color: #999999;
  }

  @include mq($from: tablet) {
    font-size: 1em;
    line-height: 1.66;
    letter-spacing: 0.03em;
  }

  @include mq($from: desktop) {
    font-size: 1.03em;
  }
}
