@import 'assets/scss/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  background: var(--color-background-over);
  overflow: hidden;

  .logo {
    height: 28px;
    margin: 0.9em 0;
    float: left;
  }

  .badge {
    float: right;
  }

  .onlineUsers {
    display: none;
  }

  @include mq($from: tablet) {
    .online {
      display: inline-block;
      margin-left: 1em;
      margin-top: 0.5em;
    }
  }

  @include mq($from: desktop) {
    top: 0 !important;
    background: none;
    text-align: center;

    .logo {
      margin: 1.5em 0;
    }

    .online {
      margin-top: 1em;
      margin-left: 3em;
    }
  }
}
