@import 'assets/scss/variables';

$borderRadius: 0.25em;

// Visually represents entire field
.field {
  display: flex;
  background: var(--color-input);
  color: var(--color-text);
  border-top: 1px solid $pure-white;

  @include mq($until: tablet) {
    padding: 0.5em;
    transition: 0.2s;

    &.focused {
      padding: 0 !important;
    }
  }

  @include mq($from: tablet) {
    border: 1px solid #fff;
    border-radius: 0.25em;
    box-shadow: 0 15px 0 -10px $cyan, 0 25px 0 -15px $red;
  }
}

// Actual input / textarea portion of it
.inputArea {
  flex: 1;
  height: auto !important; // stretches to 100% thanks to flexbox
  color: inherit !important;
  background: transparent !important;
  box-shadow: none !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0.25em 0.5em !important;
  line-height: 1.2 !important;

  @include mq($until: mobile) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  @include mq($until: tablet) {
    &:focus {
      padding: 0.25em 0.5em;
      line-height: initial;
      height: auto;
    }
  }

  @include mq($from: tablet) {
    height: 52px !important;
    padding: 1em !important;
  }
}

// Array of actions next to the input
.actions {
  display: flex;
  margin-left: 0.25em;

  & > * {
    margin: 0.25em;
  }
}
